<div class="main">

  <%# ローディング %>
  <div id="loading">
    <div class="spinner"></div>
  </div>

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# メイン %>
  <div class="mini_about_area">

    <div class="works_title4 anime_up anime_op">
      Furima app
    </div>

    <div class="anime_up anime_op">
      <%= image_tag("https://i.gyazo.com/18d8c4a7fa380e8724a584b076ee19ed.gif", class: :show_works_image) %>
    </div>

    <%# Overview %>
    <div class="left_mini_area_title anime_up anime_op">
      Overview
    </div>
    <div class="left_works_description anime_up anime_op">
      <p>ー概要ー<br><br>このアプリケーションは、カード決済などを導入し、現場で使用されている技術を習得する目的で開発したアプリケーションです。初めてのアプリ開発でしたので苦戦しましたが、1日12時間ほど必死に努力し、10日程度で完成させる事ができています。</p>
    </div>

    <%# Function %>
    <div class="right_mini_area_title anime_up anime_op">
      Function
    </div>
    <div class="right_works_description">
      <p class="anime_up anime_op">ー出品機能ー<br><br>ユーザーが商品の出品を行いやすいように、フォームをなるべくシンプルに実装しました。これにより、アプリケーションを使用した経験が浅い高齢者の方々でも簡単、気軽に商品を出品する事ができる様になっています。</p>
      <div class="works_description_gap"></div>
      <p class="anime_up anime_op">ー購入機能ー<br><br>商品の購入時にカード決済をする事ができる方が便利な為、Pay.jpなどを利用してカード決済を可能にしました。これにより代金を用意する必要もなくなるので、より便利にアプリを使用して頂けるようになっています。</p>
      <div class="works_description_gap"></div>
      <p class="anime_up anime_op">ー商品検索ー<br><br>数多くの商品が出品されている場合、ユーザーが求めている商品を検索し、見つけられるまでにかなりの時間がかかってしまいます。そこで、ransackを使用し、カテゴリー検索する事ができる様にすることで、商品を見つけるまでの時間を短縮できるように工夫しました。</p>
    </div>

    <%# Technology %>
    <div class="left_mini_area_title anime_up anime_op">
      Technology
    </div>
    <div class="left_works_description">
      <p class="anime_up anime_op">ー言語ー<br><br>HTML5/CSS3/Javascript/Ruby(Ruby on Rails)</p>
      <div class="works_description_gap"></div>
      <p class="anime_up anime_op">ーその他ー<br><br>AWS/Pay.jp/GitHub/ransack/active hash/Rspec/</p>
    </div>

    <%# Others %>
    <div class="right_mini_area_title anime_up anime_op">
      Others
    </div>
    <div class="right_works_description">
      <p class="anime_up anime_op">ーREADMEー<br><br>https://github.com/maekawatatsuya1217/furima-35938</p><p class="anime_up anime_op"><br><br>ー本番環境ー<br><br>http://35.75.248.20/</p><p class="anime_up anime_op"><br><br>ーBasic認証ー<br><br>ユーザー名→tatsuya　　パスワード→1217</p>
    </div>

    <%# Learning %>
    <div class="left_mini_area_title anime_up anime_op">
      Learning
    </div>
    <div class="left_works_description">
      <p class="anime_up anime_op">ー学びー<br><br>このアプリケーションの開発での１番の学びは、「開発の楽しさを知った」という部分です。<br>このアプリケーションは、初めて自力で完成させた物です。初めは、カード決済などが上手くいかず、辛い時もありましたが、それが正しく動いた時はとても達成感があり、楽しさを感じました。<br>この経験からプログラミングの楽しさを改めて確認できました。これからもプログラミングで新しいことに積極的にチャレンジしていきます。</p>
    </div>


  </div>

  <%# 隙間 %>
  <div class="content_gap"></div>
</div>