<div class="main">

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# メイン %>
  <div class="mini_about_area">

    <div class="works_title2 anime_up anime_op">
      My bookshelf app
    </div>
  
    <div class="anime_up anime_op">
      <%= image_tag("https://i.gyazo.com/bbdb3131a44d8b8b7387f8e067b498b3.gif", class: :show_works_image) %>
    </div>

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# Overview %>
    <div class="left_mini_area_title anime_up anime_op">
      Overview
    </div>
    <div class="left_works_description anime_up anime_op">
      <p>ー概要ー<br><br>このアプリケーションは、読書を趣味にしている人がお互いもっと気軽に、コミュニケーションを取れるようにする為に開発しました。<br>ブログ、メモ帳、非同期コメントなど周囲の読書を趣味にしている方にニーズを直接聞き、実際のニーズを解消できる様な機能を実装しました。</p>
    </div>

    <%# Function %>
    <div class="right_mini_area_title anime_up anime_op">
      Function
    </div>
    <div class="right_works_description">
      <p class="anime_up anime_op">ーブログー<br><br>お勧めの本を記事にして紹介する事によって、日々の読書をより楽しくできるように工夫しました。また読者は、新しい本との出会いを経験できます。</p>
      <div class="works_description_gap"></div>
      <p class="anime_up anime_op">ーメモ帳ー<br><br>日々の読書の中で自分が知らなかった事、もっと知りたい事などを気軽にメモすることが出来ます。また毎日の趣味の読書で感じた事、学んだ事などを記録していく事によって、日記としても利用できます。</p>
      <div class="works_description_gap"></div>
      <p class="anime_up anime_op">ーコメントー<br><br>自分が読んで「面白い」「役に立った」と感じた記事に対してコメントすることが出来ます。これによって、ユーザー同士がお互いにコミュニケーションを気軽に取る事ができる機会を提供します。</p>
    </div>

    <%# Technology %>
    <div class="left_mini_area_title anime_up anime_op">
      Technology
    </div>
    <div class="left_works_description">
      <p class="anime_up anime_op">ー言語ー<br><br>HTML5/CSS3/Javascript/Ruby(Ruby on Rails)</p>
      <div class="works_description_gap"></div>
      <p class="anime_up anime_op">ーその他ー<br><br>Heroku/GitHub/Ajax/ransack/active hash/Rspec</p>
    </div>

    <%# Others %>
    <div class="right_mini_area_title anime_up anime_op">
      Others
    </div>
    <div class="right_works_description">
      <p class="anime_up anime_op">ーREADMEー<br><br>https://github.com/maekawatatsuya1217/my-bookshelf-app</p><p class="anime_up anime_op"><br><br>ー本番環境ー<br><br>https://my-bookshelf-application.herokuapp.com/</p><p class="anime_up anime_op"><br><br>ーBasic認証ー<br><br>ユーザー名→tatsuya　　パスワード→1217</p>
    </div>
    
</div>

<%# 隙間 %>
<div class="content_gap"></div>