<div class="main">

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# メイン %>
  <div class="mini_about_area">
    <div class="works_title2">
      My bookshelf app
    </div>
    <%= image_tag("https://i.gyazo.com/bbdb3131a44d8b8b7387f8e067b498b3.gif", class: :show_works_image) %>

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# Overview %>
    <div class="left_mini_area_title">
      Overview
    </div>
    <div class="left_works_description">
      <p>ー概要ー<br><br>このアプリケーションは、読書を趣味にしている人がお互いもっと気軽に、コミュニケーションを取れるようにする為に開発しました。<br>ブログ、メモ帳、非同期コメントなど周囲の読書を趣味にしている方にニーズを直接聞き、実際のニーズを解消できる様な機能を実装しました。</p>
    </div>
</div>