<div class="main">

  <%# ローディング %>
  <div id="loading">
    <div class="spinner"></div>
  </div>
  
  <%# About %>
  <div class="show_about_area">
    <div class="area_title anime_up anime_op">
      Greeting
    </div>
    <div class="content media_content anime_up anime_op">
      <div class="about_image_area">
        <%= link_to image_tag("face.png", class: :face_image), myself_tops_path %>
      </div>
      <div class="about_description">
        はじめまして！前川達也と申します。<br>このページでは私の過去、現在、そして将来の目標を紹介いたします。<br>このページをご覧頂くことで、私がこれまでどの様な目標を持ち、どの<br>ように取り組んできたのかが、お分かり頂けます。ぜひ、ご覧ください！
      </div>
    </div>
  </div>

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# Past %>
  <div class="mini_about_area">
    <div class="area_title anime_up anime_op">
      Past
    </div>
    <div class="content anime_up anime_op">
      <div class="about_description">
        <p class="description_title1">高校生時代</p>
        <p class="show_description">ー取り組んだことー<br><br>首席になるという大きな目標を持ち努力しておりました。<br>中学生の頃から苦手な学業に挑戦することによって、自分が大きく成長できると考えたからです。具体的には「質✖️量」の2つに拘り平日は4時間、休日は13時間程度学業に取り組みました。<br>その結果、1年程度で首席になるという大きな目標を達成する事ができています。<br>この経験から学んだ事は、自分で大きな目標を立て、積極的に努力することの楽しさや大切さです。また、自分の苦手だった事で大きな結果を出す事ができ、自分に自信を持てるようになりました。</p>
      </div>
      <div class="works_image_area">
        <%= image_tag("desk.png", class: :works_image2) %>
      </div>
    </div>
  </div>

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# Current %>
  <div class="mini_about_area">
    <div class="area_title anime_up anime_op">
      Current
    </div>
    <div class="content anime_up anime_op">
      <div class="works_image_area">
        <%= image_tag("macbook.png", class: :works_image1) %>
      </div>
      <div class="about_description">
        <p class="description_title1">現在</p>
        <p class="show_description">ー取り組んでいることー<br><br>現在は「ユーザー目線で考え、ニーズを叶えられるエンジニア」を目指して日々努力しています。<br>具体的には毎日12時間程度の学習を継続しております。エラーの解消でかなりの時間を要する時など、本当に辛い時もあります。しかし、今までの経験から諦めずに努力すれば、結果に結びつけられると考えて日々努力しております。<br>その事もあり、プログラミングスクールでは2ヶ月が目安のカリキュラムを1/2の1ヶ月で終了しました。それに加え、積極的にアプリ開発に取り組み、4つのアプリを完成させています。</p>
      </div>
    </div>
  </div>

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# Future %>
  <div class="mini_about_area">
    <div class="area_title anime_up anime_op">
      Future
    </div>
    <div class="content anime_up anime_op">
      <div class="about_description">
        <p class="description_title1">将来</p>
        <p class="show_description">ー将来の目標ー<br><br>将来は「ユーザー目線で考え、ニーズを叶えられるエンジニア」になりたいと考えております。<br>その為には、今の何十倍、何百倍も努力する必要があると思います。決して簡単な事ではないと思います。そこで自分自身の長所でもある「新しい事を楽しみながら学び、成長できる」という点を活かして、これからも積極的に新しい技術に触れ、目標を達成できるように努力していきたい思います。</p>
      </div>
      <div class="works_image_area">
        <%= image_tag("think2.png", class: :works_image2) %>
      </div>
    </div>
  </div>

  <%# 隙間 %>
  <div class="content_gap"></div>
</div>