<div class="main">

  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# メイン %>
  <div class="mini_about_area">
    <div class="area_title">
      Programming learning app
    </div>
    <%= image_tag("https://i.gyazo.com/0a7815f70b655dffefd74d23e9537325.gif", class: :show_works_image) %>

  <%# 隙間 %>
  <div class="content_gap"></div>
</div>