<div class="main">
  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# メイン %>
  <div class="mini_about_area">

    <div class="works_title3">
      Sports tweet app
    </div>

    <%= image_tag("https://i.gyazo.com/29866ccbadac47d4bd3b890d8f81f66b.gif", class: :show_works_image) %>

    </div>

    <%# 隙間 %>
    <div class="content_gap"></div>
</div>