<div class="main">
  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# メイン %>
  <div class="mini_about_area">

    <div class="works_title3">
      Sports tweet app
    </div>

    <%= image_tag("https://i.gyazo.com/29866ccbadac47d4bd3b890d8f81f66b.gif", class: :show_works_image) %>

    <%# Overview %>
    <div class="left_mini_area_title">
      Overview
    </div>
    <div class="left_works_description">
      <p>ー概要ー<br><br>このアプリケーションは、スポーツチーム入団を考えている個人と、知名度が低く、メンバーを十分に集める事ができていないスポーツチームを結びつける為に開発したアプリケーションです。自分自身がスポーツチームに所属していた経験から課題に感じた事を解決できるようにしました。</p>
    </div>

    </div>

    <%# 隙間 %>
    <div class="content_gap"></div>
</div>