<div class="main">
  <%# 隙間 %>
  <div class="content_gap"></div>

  <%# メイン %>
  <div class="mini_about_area">

    <div class="works_title3">
      Sports tweet app
    </div>

    <%= image_tag("https://i.gyazo.com/29866ccbadac47d4bd3b890d8f81f66b.gif", class: :show_works_image) %>

    <%# Overview %>
    <div class="left_mini_area_title">
      Overview
    </div>
    <div class="left_works_description">
      <p>ー概要ー<br><br>このアプリケーションは、スポーツチーム入団を考えている個人と、知名度が低く、メンバーを十分に集める事ができていないスポーツチームを結びつける為に開発したアプリケーションです。自分自身がスポーツチームに所属していた経験から課題に感じた事を解決できるようにしました。</p>
    </div>

    <%# Function %>
    <div class="right_mini_area_title">
      Function
    </div>
    <div class="right_works_description">
      <p>ーツイートー<br><br>知名度が低く悩んでいるチームが、積極的に毎日の活動をツイートで発信する事によって、多くの方に認知してもらう事ができます。その結果として、新メンバー獲得につなげる事ができると考えました。</p>
      <div class="works_description_gap"></div>
      <p>ーDMー<br><br>ツイートで気になったチームの方々に、チームを探している個人が直接DMをする事によって、詳細情報を知る事ができます。また実際に体験を申し込み、最終的にはメンバー獲得に繋げる事が可能になると考えました。</p>
      <div class="works_description_gap"></div>
      <p>ーつながりー<br><br>気になるチームの発信内容をいつでも見やすい様にする為に、つながり機能(フォロー機能)を実装しました。この機能を利用する事によってチームへの理解を深める事ができ、最終的にはメンバー獲得に繋がると考えました。</p>
    </div>

    <%# Technology %>
    <div class="left_mini_area_title">
      Technology
    </div>
    <div class="left_works_description">
      <p>ー言語ー<br><br>HTML5/CSS3/Javascript/Ruby(Ruby on Rails)</p>
      <div class="works_description_gap"></div>
      <p>ーその他ー<br><br>Heroku/GitHub/Ajax/ransack/active hash/Rspec</p>
    </div>

    <%# Others %>
    <div class="right_mini_area_title">
      Others
    </div>
    <div class="right_works_description">
      <p>ーREADMEー<br><br>https://github.com/maekawatatsuya1217/sports-tweet-app<br><br>ー本番環境ー<br><br>https://sports-tweet-app.herokuapp.com/<br><br>ーBasic認証ー<br><br>ユーザー名→tatsuya　　パスワード→1217</p>
    </div>

    </div>

    <%# 隙間 %>
    <div class="content_gap"></div>
</div>